# tmp files
*~
._*
*.log

# OS
.DS_Store
.Trashes
.Spotlight-V100
Thumbs.db
Desktop.ini
touch

# IDE
.settings
.idea
.classpath
.buildpath
.project
.realsync
*.iml
*.iws
*.swp
*.sublime-project
*.sublime-workspace

# Project
main.js
dist/
logs/
node_modules/
coverage/
recordings/
